@model Hangman.Models.HangmanModel
@{
    ViewBag.Title = "Ahorcado";
}

<h2>Bienvenidos <span class="text-success">@Model.Player1</span> y <span class="text-success">@Model.Player2</span></h2>

@using (Html.BeginForm())
{
    <form>
        <div class="d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">
                        Jugador <span class="text-success">
                            @( Model.GameOwnerIsPlayer1 ? Model.Player1 : Model.Player2 )
                        </span> ingrese palabra a adivinar
                    </label>
                    @Html.PasswordFor(m => m.WordToGuess, new { @class = "form-control", autofocus = "autofocus", @id = "wordToGuess" })
                    @Html.ValidationMessageFor(model => model.WordToGuess, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary float-right btn-sm" id="submit">Jugar</button>
            </div>
        </div>
    </form>
}